---
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';

import HeaderSection from '../components/HeaderSection.astro';
import ProjectSection from '../components/ProjectSection.astro';
import ContactSection from '../components/contactSection.astro';

---
<Layout title="Edward Xiao">
	<main>
		<SectionLayout color="#b9fcc1">
			<HeaderSection />
		</SectionLayout>

		<SectionLayout color="#7834c0">
			<ProjectSection />
		</SectionLayout>

		<SectionLayout color="orange">
			<ContactSection />
		</SectionLayout>

	</main>
</Layout>
<style>

	main {
		margin: auto;
		width:100vw;
	}

</style>
