---


---

<div class="section-container">
    <div class="contact-section">
        <h1>Contact me!</h1>
        <p>
            You can always message me on <a href="https://www.linkedin.com/in/edward-xiao-986b97248/">LinkedIn</a> 
            or 
            <a href="mailto:edwardxiao29@gmail.com">email</a> (edwardxiao29@gmail.com)
            !
        </p>
    </div>
</div>


<style>
.contact-section {
    color:black;
    width:80vw;
    padding:50px 0;
    /* padding:50px 10vw; */
}

p {
    font-weight:500;
    font-size:1.1rem;
}

a {
    text-decoration:none;
}

</style>