---
import Facebook from '../assets/facebook.svg';
import Github from '../assets/github.svg';
import Gmail from '../assets/gmail.svg';
import LinkedIn from '../assets/linkedin2.svg';
import Twitter from '../assets/twitter.svg';

---
<div class="section-container">
<div class="header-section">
    <div class="header-container">
        <h1>
            Hello, I'm <br>
            <span>Edward Xiao</span>
        </h1>		
        <div class="profile-container">
            <img id="profile-pic" src="https://avatars.githubusercontent.com/u/69602889" />
        </div>
    </div>
    <p>
        A computer science student at the University of Maryland. 
        I aim to strengthen my knowledge in technology and its applications in 
        tangential fields.
    </p>
    <div class="buttons">
        <div class="socialBtns">
            <a class="socialbtn" href="https://github.com/EdwardX29" target="_blank">
                <img  src={Github} />
            </a>

            <a class="socialbtn" href="mailto:edwardxiao29@gmail.com">
                <img src={Gmail} />
            </a>

            <a class="socialbtn" href="https://www.linkedin.com/in/edwardxiao107/" target="_blank">
                <img src={LinkedIn} />
            </a>

        </div>
        <div class="pinkBtns">
            <a href="/EdPortfolio/assets/data/edxiaoresume.pdf" target="_blank" class="pinkBtn">
                Resume
            </a>

            <a href="#projectSection" class="pinkBtn">
                Projects
            </a>
        </div>

    </div>
</div>
</div>

<style>

.header-section {
    width:80vw;
    min-height:100vh;
    padding:100px 0;
}

h1 {
    margin: 2rem 0;
}

span {
    color:rgb(180, 59, 180);
}

p {
    font-size:1.8rem;
    font-weight: 600;
    color:rgb(66, 66, 66);
    width:48vw;
}

@media screen and (max-width: 600px){
    p {
        width:72vw;
    }
}
.header-container {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    
}

.profile-container {
    text-align:center;
}

 #profile-pic  {
    border-radius:50%;
    border: 3px solid #1ddd33;
    width: clamp(10vw, 100px, 200px);
    transition: width 0.2s ease-in-out;
}

 #profile-pic:hover {
    width: clamp(12vw, 125px, 250px);
}

.buttons {
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    justify-content:left;
}

.socialBtns {
    margin: 10px 0;
}

.socialbtn {
    margin:2px;
    text-decoration: none;
    width:auto;
    height:auto;
}

.socialbtn img:hover {
    transform: translateY(-5px);
    filter: invert(13%) sepia(97%) saturate(3410%) hue-rotate(210deg) brightness(91%) contrast(115%);
}

.pinkBtns {
    margin:10px 0px;
}

.pinkBtn {
    border: 3px solid rgb(180,59,180);
    border-radius:10px;
    padding:10px;
    color:rgb(180,59,180);
    cursor:pointer;
    font-size:1.2rem;
    font-weight:600;
    margin-left:10px;
    transition:background-color ease-in-out 0.1s;
    text-decoration:none;
    box-sizing:border-box;
}

.pinkBtn:hover {
    background-color:pink;
}

</style>
