---
import ProjectCard from './ProjectCard.astro';
import projects from '../assets/data/projectData';


---

<style>
    .projectSection {
        color:white;
        width:80vw;
        min-height:100vh;
    }

    .projects {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
    }
</style>

<div class="section-container">
    <div class="projectSection">
        <h1 id="projectSection">My Projects</h1>
        <div class="projects">
            {projects.map((project) => (
                <ProjectCard {project}/> 
             ))}

            {projects.map((project) => {
                project.name
            })}

       </div>
    </div>
</div>
